.dice-tab > input, .dice-tab section > div {
	 display: none;
}
 #tab1:checked ~ section .tab1, #tab2:checked ~ section .tab2, #tab3:checked ~ section .tab3 {
	 display: block;
}
 #tab1:checked ~ nav .tab1, #tab2:checked ~ nav .tab2, #tab3:checked ~ nav .tab3 {
	 color: red;
}
/* Visual Styles */
 *, *:after, *:before {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}
 .dice-tab {
	 width: 100%;
	 max-width: 700px;
}
 .dice-tab ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 .dice-tab ul li label {
	 float: left;
	 padding: 15px 25px;
	 border: 1px solid #ddd;
	 border-bottom: 0;
	 background: #eee;
	 color: #444;
}
 .dice-tab ul li label {
	 float: left;
	 padding: 15px 25px;
	 border: 1px solid #ddd;
	 border-bottom: 0;
	 background: #eee;
	 color: #444;
}
 .dice-tab ul li label:lang(he) {
	 float: right !important;
	 padding: 15px 25px;
	 border: 1px solid #ddd;
	 border-bottom: 0;
	 background: #eee;
	 color: #444;
}

 .dice-tab ul li label:hover {
	 background: #ddd;
}
 .dice-tab ul li label:active {
	 background: #fff;
}
 .dice-tab section {
	 clear: both;
}
 .dice-tab section {
	 padding: 20px;
	 width: 100%;
	 border: 1px solid #ddd;
	 background: #fff;
	 line-height: 1.5em;
	 letter-spacing: 0.3px;
	 color: #444;
}
 .dice-tab section div h2 {
	 margin: 0;
	 letter-spacing: 1px;
	 color: #34495e;
}
 #tab1:checked ~ nav .tab1 label, #tab2:checked ~ nav .tab2 label, #tab3:checked ~ nav .tab3 label {
	 background: white;
	 color: #111;
	 position: relative;
}
 #tab1:checked ~ nav .tab1 label:after, #tab2:checked ~ nav .tab2 label:after, #tab3:checked ~ nav .tab3 label:after {
	 content: "";
	 display: block;
	 position: absolute;
	 height: 2px;
	 width: 100%;
	 background: #fff;
	 left: 0;
	 bottom: -1px;
}

.table-row{
    display: flex;
    align-items: center;
    flex-direction:row;
    border-bottom: 1px solid #C5BBB1;
    padding: 10px 0px 10px 0px;
}
.table-row-last{
    display: flex;
    align-items: center;
    flex-direction:row;
    border-bottom: 0px solid #C5BBB1;
    padding: 10px 0px 10px 0px;
}
    .table-row > div {
        flex: 1;
    }
.table-left{
    margin-right: auto; 

}
.table-right{
      margin-right: auto; 

}
.notice, div.error, div.updated {
 margin: 0; 
}
.warning{
  color:#9c9a9a;
}
.alert{
  color:red;
}
.comp-box, .api-box{
    width: 100%;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 760px) {
.table-row{
   flex-direction: column;
}
.table-row-last{
   flex-direction: column;
}
}