
.irfeed-chart .apexcharts-tooltip{
  border-radius: 2px; !important;
}
.irfeed-chart #chart {
  max-width: 650px;
  margin: 35px auto;
}

.irfeed-chart .chart-container {
  position: relative;
  margin: auto;
  width: 100%;
}
.irfeed-chart .chart-dice-global{
    z-index:1;
    margin-top:-15px!important;
}
.irfeed-chart .mainButtons {
    padding:10px!important;
 z-index:0;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}


.mainbuttons-layout-start .mainButtons{
  justify-content: start!important;
}
.mainbuttons-layout-center .mainButtons{
  justify-content: center!important;
}
.mainbuttons-layout-end .mainButtons{
  justify-content: end!important;
}
.mainbuttons-layout-justify .mainButtons{
  justify-content: space-between!important;
}

.irfeed-chart .irfeed-btn {
    font-size: 14px;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 5.5px 17px;
    background-color: #fff;
    color: #222;
    margin: 4px;
    cursor: pointer;
    font-weight: 400;
    outline:0!important;
}
.irfeed-chart .irfeed-btn:hover{
    color: #222;
  background-color:#f0f0f0;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
  font-weight: 400;
  outline:0!important;
}
.irfeed-chart .irfeed-btn:focus{
    color: #222;
  background-color:#f0f0f0;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
      font-weight: 400;
      outline:0!important;
}

.irfeed-chart .active {
    color: #222;
    background-color: #f0f0f0;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    font-weight: 400;
    outline:0!important;
}

.irfeed-chart .btn-ideadice-toolbar {
    font-size: 24px;
    border: 2px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 6px 17px;
    background-color: #fff;
    color: #222;
    margin: 4px;
    cursor: pointer;
    outline: 0;
    font-weight: 400;
    outline:0!important;
}
.irfeed-chart .btn-ideadice-toolbar:hover{
    color: #222;
  background-color:#ebebeb;
    border: 2px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
  font-weight: 400;
  outline:0!important;
}
.irfeed-chart .btn-ideadice-toolbar:focus{
    color: #222;
  background-color:#ebebeb;
    border: 2px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
      font-weight: 600;
      outline:0!important;
}

@media screen and (max-width: 768px) {
  .irfeed-chart .irfeed-btn{
      font-size:15px!important;
          padding: 4px 8px!important;
      margin:3px!important;
    }
    .irfeed-chart .mainButtons {
      justify-content: center;
    }  
    .irfeed-chart .apexcharts-toolbar {
display:none!important;
    } 
    .apexcharts-xaxis .apexcharts-text tspan {
        font-size:10px!important;      
        }   
        .irfeed-chart .chart-dice-global{
        z-index:1;
        margin-top:-10px!important;
        margin-left: -10px!important;
    }    
}

.irfeed-chart .InfoBox{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Arial", Sans-serif;
  flex-direction:row;
  margin:0px;
  box-sizing: border-box;
}
.irfeed-chart .data{
 line-height: 0px;
 text-align: center;
 font-size:13px;
 padding-left:7px;
 padding-right:7px;
}


.irfeed-chart .apexcharts-toolbar {
    right:unset;
    top: unset;
    z-index:2;
    position: relative;
    max-width: unset;
    text-align: center;
    display: flex;
    justify-content: unset;
    align-items: baseline;
    width: 100%;
    background-color: #fff !important;
    height: 70px;
    padding: 0 !important;

}



.irfeed-chart .apexcharts-yaxis{
    background-color:#red!important;
}

chart-container .fa, chart-container .fas, chart-container .far{
  color:#848484 !important; 
    font-size:25px!important;   
}

.irfeed-chart .apexcharts-zoom-icon, .irfeed-chart .apexcharts-zoomin-icon, .irfeed-chart .apexcharts-zoomout-icon, .irfeed-chart .apexcharts-reset-icon, .irfeed-chart .apexcharts-pan-icon, .irfeed-chart .apexcharts-selection-icon, .irfeed-chart .apexcharts-menu-icon, .irfeed-chart .apexcharts-toolbar-custom-icon
.irfeed-chart .apexcharts-pan-icon {
    FONT-WEIGHT: 100;
    transform: scale(0.65)!important; 
    position: relative;
    width: 40px;
    height: 0!important; 
    left: 0px!important; 
    top: 0px;
    margin-left:6px;
    margin-top:20px;
    margin-bottom:10px;
}
.irfeed-chart .apexcharts-zoom-icon, .irfeed-chart .apexcharts-reset-icon, .irfeed-chart .apexcharts-menu-icon {
    transform: scale(0.65)!important; 
}
