@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
    direction: rtl;
}
.nodata-text{
    text-align: center;
    padding:35px;
}
.dice-data-up{
	color:#059936;
}
.dice-data-down{
	color:#ad0309;
}
label {
  vertical-align: initial!important;
}
.arrow_box {
  font-weight: normal;
}
.apexcharts-tooltip-text {
  width: 100%;
}

.apexcharts-tooltip-y-group {
  display: flex;
  justify-content: space-between;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

.shortcode-chart .chart-container {
  position: relative;
  margin: auto;
  width: 100%;
}
.shortcode-chart .chart-dice-global{
    z-index:1;
    margin-top:-15px!important;
}
.shortcode-chart .mainButtons {
    padding:10px!important;
 z-index:0;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
}

.shortcode-chart .btn-ideadice {
    font-size: 14px;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 5.5px 17px;
    background-color: #fff;
    color: #222;
    margin: 4px;
    cursor: pointer;
    outline: 0;
    font-weight: 400;
}
.shortcode-chart .btn-ideadice:hover{
    color: #222;
  background-color:#f0f0f0!important;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
  font-weight: 400;
}
.shortcode-chart .btn-ideadice:focus{
    color: #222;
  background-color:#f0f0f0!important;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
      font-weight: 600;
}

.shortcode-chart .active {
    color: #222;
    background-color: #f0f0f0!important;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    font-weight: 600;
}

.shortcode-chart .btn-ideadice-toolbar {
    font-size: 24px;
    border: 2px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 6px 17px;
    background-color: #fff;
    color: #222;
    margin: 4px;
    cursor: pointer;
    outline: 0;
    font-weight: 400;
}
.shortcode-chart .btn-ideadice-toolbar:hover{
    color: #222;
  background-color:#ebebeb!important;
    border: 2px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
  font-weight: 400;
}
.shortcode-chart .btn-ideadice-toolbar:focus{
    color: #222;
  background-color:#ebebeb!important;
    border: 2px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
      font-weight: 600;
}

@media screen and (max-width: 768px) {
  .shortcode-chart .btn-ideadice{
      font-size:15px!important;
          padding: 4px 8px!important;
      margin:3px!important;
    }
    .shortcode-chart .mainButtons {
      justify-content: center;
    }  
.shortcode-chart .apexcharts-toolbar {
display:none!important;
    } 
    .apexcharts-xaxis .apexcharts-text tspan {
        font-size:10px!important;      
        }   
        .shortcode-chart .chart-dice-global{
        z-index:1;
        margin-top:-10px!important;
        margin-left: -10px!important;
    }    
}

.shortcode-chart .InfoBox{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Arial", Sans-serif;
  flex-direction:row;
  margin:0px;
  box-sizing: border-box;
}
.shortcode-chart .data{
 line-height: 0px;
 text-align: center;
 font-size:13px;
 padding-left:7px;
 padding-right:7px;
}


.shortcode-chart .apexcharts-toolbar {
    right:0!important;
    top: -50px!important;
    z-index:3000;
    max-width:inherit !important;
margin-right:18px !important;
    
}
.shortcode-chart .apexcharts-yaxis{
    background-color:#red!important;
}

chart-container .fa, chart-container .fas, chart-container .far{
  color:#848484 !important; 
    font-size:25px!important;   
}

.shortcode-chart .apexcharts-zoom-icon, .shortcode-chart .apexcharts-zoomin-icon, .shortcode-chart .apexcharts-zoomout-icon, .shortcode-chart .apexcharts-reset-icon, .shortcode-chart .apexcharts-pan-icon, .shortcode-chart .apexcharts-selection-icon, .shortcode-chart .apexcharts-menu-icon, .shortcode-chart .apexcharts-toolbar-custom-icon
.shortcode-chart .apexcharts-pan-icon {
    FONT-WEIGHT: 100;
    transform: scale(0.65)!important; 
    position: relative;
    width: 42px!important; 
    height: 0!important; 
    left: 0px!important; 
    top: 0px;
    margin-left:6px;
}
.shortcode-chart .apexcharts-zoom-icon, .shortcode-chart .apexcharts-reset-icon, .shortcode-chart .apexcharts-menu-icon {
    transform: scale(0.65)!important; 
}

.apexcharts-toolbar {

}
.rtl-text {
  direction: rtl;
  text-align: right;
}

.mainTable {
  padding: 0;
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  color: whitesmoke;
}