.mainTable {
  padding: 0;
  margin: auto;
  border-collapse: collapse;
  width: 400px;
  text-align: center;
  color: rgb(8, 8, 8);
}
@media screen and (max-width: 1024px) {
  .mainTable {
    width: 100%;
  }
}
.mainTableHeaderRow {
    color: rgb(120, 172, 250);
    font-weight: bold;
    padding:7px;
}

.mainTableBodyRow:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.050);
}

.mainTableBodyRow:hover{
    background-color: rgb(60, 163, 231);
}

.mainTable tr td {
    padding:7px;
}

.apexcharts-legend-marker{
  margin-right:5px;
  margin-left:5px;
}
.apexcharts-legend{
  margin-bottom:10px;
}

.elementor-editor-active.irfeed-pie {
  height:200px!important;
  background-color:azure!important;
  content: 'editor mode'!important;
}

