<!DOCTYPE html>
<html>
<head>

<!--<meta charset="windows-1255">-->
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GraphsApp_build_version</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="../assets/lib/fontawesome.js"></script>

<!--Include js code libraries
<script type="text/javascript" src="../assets/js/apexcharts.min.js"></script>
-->

<script type="text/javascript" src="../assets/js/miniChart.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/chartSetup.js"></script>
<script type="text/javascript" src="../assets/js/chartSetupWeek.js"></script>
<script type="text/javascript" src="../assets/js/chartSetupDay.js"></script>
<script type="text/javascript" src="../assets/js/buildchart.js"></script>
<script type="text/javascript" src="../assets/js/chartConstructor.js"></script>
<script type="text/javascript" src="../assets/js/general_lib.js"></script>
<script type="text/javascript" src="../assets/js/ang_app.js"></script>




<!-- CSS -->
<link href="../assets/css/design.css" type="text/css" rel="stylesheet">

</head>

<body dir="rtl" ng-app="chartsApp" onload="main('mainChart')">

    <div ng-controller="mainController">

    <div class="chart-container">
        <div id='nodedata_buttons' class="mainButtons">
            <button class="btn-dice" ng-click="showHideFunc('showDay');" id="one_day">1D</button>
            <button class="btn-dice" ng-click="showHideFunc('showWeek');" id="one_week">1W</button>
            <button class="btn-dice" ng-click="showHideFunc('showFiveYear');" id="one_month">1M</button>
            <button class="btn-dice" ng-click="showHideFunc('showFiveYear');" id="three_month">3M</button>
            <button class="btn-dice" ng-click="showHideFunc('showFiveYear');" id="six_month">6M</button>
            <button class="btn-dice active" id="one_year" ng-click="showHideFunc('showFiveYear');">1Y</button>
            <button class="btn-dice" ng-click="showHideFunc('showFiveYear');"  id="three_year">3Y</button>
            <button class="btn-dice" ng-click="showHideFunc('showFiveYear');"  id="five_year">5Y</button>
        </div>
        
        <div id='nodata'></div>
        <div ng-hide="hideDay">
            <div id="dayChart"></div>
        </div>
        
        <div ng-hide="hideWeek">
            <div id="weekChart"></div>
        </div>

        <div ng-show="showFiveYear">
            <div id="fiveYearChart"></div>
        </div>
        
        
    </div>

    <!--END ang  mainController-->
    </div>

</body>

</html>